html,
body {
    margin: 0;
    padding: 0;
    color: #434343;
}

body {
    font-size: 62.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
}

section#landing {
    height: 100vh;
    width: 100%;
    background: url('https://wallpapercave.com/wp/wp3204607.jpg') center
        no-repeat fixed;
    /* background-size: cover; */
}

.chooseArtist {
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.showAlbums {
    border-radius: 16px;
    background-color: #f1f2f3;
    color: #434343;
    font-size: 2rem;
    width: 40%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#showOtherArtist {
    padding: 10px;
}
#showOtherArtist::placeholder {
    padding: 10px;
}

.album-list {
    background-color: #e0e0e0;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 380px;
    height: auto;
    margin: 20px;
    border-radius: 16px;
}

.card a {
    border-radius: 16px;
    background-color: #f1f2f3;
    color: #434343;
    border: 0px;
}

.card a:hover {
    background: #434343;
    color: #f1f2f3;
}
.card audio {
    margin-top: 10px;
}
