html,
body {
    margin: 0;
    padding: 0;
    color: #434343;
}

body {
    font-size: 62.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
}

section#landing {
    height: 100vh;
    width: 100%;
    background: url('https://wallpapercave.com/wp/wp3204607.jpg') center
        no-repeat fixed;
    /* background-size: cover; */
}

.chooseArtist {
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.showAlbums {
    border-radius: 16px;
    background-color: #f1f2f3;
    color: #434343;
    font-size: 2rem;
    width: 40%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#showOtherArtist {
    padding: 10px;
}
#showOtherArtist::placeholder {
    padding: 10px;
}

.album-list {
    background-color: #e0e0e0;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 380px;
    height: auto;
    margin: 20px;
    border-radius: 16px;
}

.card button {
    border-radius: 16px;
    background-color: #f1f2f3;
    color: #434343;
    border: 0px;
}

.card button:hover {
    background: #434343;
    color: #f1f2f3;
}
.card audio {
    margin-top: 10px;
}

/* Fenêtre modale globale */
#myModal {
    display: none;
    position: fixed; /* reste en positiion fixe*/
    z-index: 999; /* passe par dessus la première fenêtre */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* autorise le scroll si nécessaire*/
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* contenu du pop-up */
.modal-content {
    background: #e0e0e0;
    position: fixed; /* position fixe */
    top: 5%;
    left: 25%;
    background-color: #fefefe;
    margin: auto; /* marges latérales automatiques */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border: 1px solid #565050;
    border-radius: 10px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    height: 90%;
    width: 50%;
    overflow: scroll;
}

/* Bouton pour fermer le pop up */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* bouton de fermeture du popup au survol */
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.track {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.modal-content p:hover {
    text-decoration: underline;
}
